.footer__links {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  row-gap: 32px;
  padding-bottom: 48px;
}
@media screen and (min-width: 768px) {
  .footer__links {
    grid-template-rows: min-content;
    grid-template-columns: repeat(5, max-content);
    column-gap: 18px;
    padding: 0;
  }

}
