.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.63;
  color: #FFFFFF;
  padding: 0 0 16px;
  margin: 0;
}
.place__paragraph:last-of-type {
  padding-bottom: 0;
}
