.cover__background {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  z-index: 3;
  text-decoration: none;
  min-width: 320px;
  width: 100%;
  min-height: 200px;
  margin: 0;
}


